NEXT_PUBLIC_API_URL=http://localhost:5002/api/v1
NEXT_PUBLIC_FIREBASE_API_KEY=YOUR_FIREBASE_KEY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=clvl-b4bcf.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=clvl-b4bcf
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=clvl-b4bcf.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=847127864640
NEXT_PUBLIC_FIREBASE_APP_ID=1:847127864640:web:16d5bf8e50cf683795c6a5
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-GHJSLJCJ95
